@import "bootstrap"

.login
    position absolute
    top: 50%
    left 50%

    width 400px
    height 200px
    margin -100px 0 0 -200px


    &__line
        margin-top 20px

.chatroom
    width 400px
    margin 20px auto
    padding 40px

    text-align center

    border 1px solid transparent
    box-shadow 0 0 3px rgba(0,0,0,0.3)

.users
    position relative
    overflow-y auto

    height 300px
    padding 0

    list-style none
    text-align left

    box-shadow inset 0 2px 1px rgba(0,0,0,0.2)

.user
    position relative

    margin 0
    padding 20px

    border-bottom 1px solid #ccc

    & .glyphicon-user
        margin-right 10px

    & .btn
        position absolute
        right 20px
        top 50%

        transform translateY(-50%)

    &_you
        font-weight bold

    &_active_true
        color #060

        background #f8f6de

    &_muted_false .glyphicon-volume-off,
    &_muted_true .glyphicon-volume-up
        display none

    &_muted_false .glyphicon-volume-up,
    &_muted_true .glyphicon-volume-off
        display inline-block

.hide
    &__cb
        margin-right 10px !important

    &__cb:checked ~ .users .user_muted_true
        display none
